{
    "arrowParens": "always",
    "endOfLine": "lf",
    "printWidth": 120,
    "quoteProps": "as-needed",
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "bracketSameLine": false,
    "bracketSpacing": true
}