.bull {
    display: flex;

    height: 50px;
    margin: 20px;
    padding: 10px;

    background: #000;
}

.button {
    color: #fff;
    background: #000;

    &:hover {
        cursor: pointer;
        padding: 10px 30px;
    }
}
